{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load mi_templatetag %}
{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<p class="p-color1">
    {% blocktrans %}
    Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
    {% endblocktrans %}
</p>
<form method="post" action="">
    {% csrf_token %}
    {{ form|class_form }}
    <br>
    <input class="btn btn-primary btn-sm" type="submit" value="{% trans 'Reset password' %}" />
</form>

{% include 'login-register.html' %}

{% endblock %}

{# This is used by django.contrib.auth #}
