{% extends "registration/registration_base.html" %}

{% load i18n %}

{% load mi_templatetag %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}

{% include 'titulo.html' %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-xl-4 card-login text-center">
            <form method="post" action="">
                {% csrf_token %}
                {{ form|class_form }}
                <br>
                <input type="submit" class="btn btn-primary btn-sm" value="{% trans 'Submit' %}" />
            </form>
        </div> 

        <div class="col-sm-12 col-md-7 col-xl-7">
            {% include 'login-register.html' %}
        </div>
    </div>
</div>

{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
