#login-out {
    padding-top: 10px;
    margin-left: 40px;
}

.btn {
background-color: $azul-base;
border-color: $azul-base-2;
}

.abajo {
    display:flex;
    align-items: flex-end;
    justify-content: center;
}
