  //#footer {
  //  padding-top: 10px;
  //  position: ;
  //  bottom: 0;
  //  width: 100%;           /* altura de pie de página */
  //}

  footer {
    position:absolute;
    bottom:0;
    width:100%;
    background:#999;
 }