.image-center {
    text-align: center;
}

.text-padding-top {
    padding-top: 20px;
}


.card-login {
    border: 1px solid $gris3;
    border-radius: 2em;
    padding: 2%;
    margin: 1%;
}

.padding-card {
    padding: 5px;
}