
{% extends "admin/base_site.html" %}

{% load static %}

{% block content %}

    {% if user.is_authenticated %}

        <div class="container"> 
            {% if sonido %}
            <audio id="audio" controls style="display: none;">
                <source type="audio/mp3" src="{{ sonido.url }}">
            </audio>
            {% endif %}
            <br>    
            <div class="row">
                <div class="col">
                    <input class="form-control" type="text" name="first_name" maxlength="150" id="idCodBarra">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">           
                    <table class="table table-dark table-striped-columns table-sm table-borderless">
                        <thead>
                            <tr>
                                <th style="color: #d63384;font-size: small;" scope="col">Comprobante</th>
                                <th style="color: #d63384;font-size: small;" scope="col">Cantidad</th>
                                <th style="color: #d63384;font-size: small;" scope="col">Producto</th>
                                <th style="color: #d63384;font-size: small;" scope="col">Cod. Barras</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody id="tablaComanda">   
                        </tbody>
                    </table>
                  
                </div>   
            </div>
        </div>

        {% block scripts %}

        <script type="text/javascript" src="{% static 'js/jquery.cookie.min.js' %}"></script> 
        <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>  
        <script type="text/javascript" src="{% static 'js/control_productos/control.productos.js' %}"></script>	

		{% endblock  %}
        

    {% endif %}

{% endblock %}