{% extends "layout.html" %}

{% load static %}

{% load mi_templatetag %}

{% load qr_code %}

{% block content %}

<div class="container">
    <br>
    <div class="row">
        <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist" data-bs-theme="dark">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Detalle</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Seguimiento</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Acciones</button>
            </li>
        </ul>
    </div>
    <div class="tab-content" id="myTabContent">
        <br>    
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row card-login">
                <div class="col-xl-3 col-md-3 col-sm-6 col-xxl-3">
                    <div>
                        {% qr_from_data envio.id size="m" dark_color="#dee2e6" light_color="#212529" %}
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12 col-xxl-6">
        
                    <br>
                    <p>ID: {{ envio.id }}</p>
                    <p> 
                        Desde {{ envio.origen }} hasta {{ envio|ver_destino }}. Creado el {{ envio.fecha }}, a 
                        las {{ envio.hora }} hs por el usuario {{ envio.usuario }}.
                    </p>
        
                    <p>Descripción: {{ envio.descripcion }}</p>
                </div>
                <br>
            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="col-xl-12 col-md-12 col-sm-12 col-xxl-12 card-login">      
                <div class="table-responsive">
                    <table class="table table-striped-columns table-dark table-sm table-borderless">
                        <thead>
                            <tr>
                            <th style="color: #d63384;font-size: small" scope="col">Estado</th>
                            <th style="color: #d63384;font-size: small" scope="col">Usuario</th>
                            <th style="color: #d63384;font-size: small" scope="col">Fecha
                            <th style="color: #d63384;font-size: small" scope="col">Hora</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for seguimiento in envio.seguimientodeenvio_set.all %}   
                            <tr>                      
                                <th scope="row">{{seguimiento.estado}}</th>
                                <td>{{seguimiento.usuario}}</td>
                                <td>{{ seguimiento.fecha_de_modificacion }}</td>
                                <td>{{ seguimiento.hora_de_modificacion }}</td>
                            </tr> 
                            {% endfor %}
                        </tbody>
                    </table>
                </div> 
            </div> 
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="row card-login">
                <div class="col">
                    <p>Cambiar de estado a: </p>                                
                    
                    <form method="post" action="">
                        <div class="row">
                            {% csrf_token %}
                                
                            {{ envio|cambio_estado:nodos_perfil }}
                        </div>
                    </form>
                    
    
                </div>
       
                <div class="col">
                    <div class="col">
                        <input type="submit" hidden class="envioId" value="imp_{{ envio.id }}"/>
                        <input type="submit" hidden class="envioDetalle" value="Para: {{ envio|ver_destino }}"/>
                        <button type="button" class="btn btn-primary btn-sm agregarDoc">Enviar a impresiones</button>    
                    </div>
                </div>
    
            </div> 
        </div>
    </div>
</div>
    
{% endblock %}
