{% extends "layout.html" %}

{% load static %}

{% block content %}

<div class="row">
    <div class="col-xl-3 col-md-3 col-sm-12 col-xxl-3">
        <div class="row text-center">
            <h4>
                <b>Nuevo envio a otro destino</b>
            </h4>
        </div>
        <div class="row">
            <div class="row">
                <div class="col text-center" style="margin-top: 5px; margin-bottom: 30px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" class="bi bi-geo-alt maps1" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" class="bi bi-geo-alt maps2" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" class="bi bi-geo-alt maps3" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg>
                </div>
            </div>
        </div>
        <div class="row">
            <p>Selecciona la sucursal de donde quieres hacer tu envio, el destino
                y agrega una descripcion de lo que quieres enviar.</p>
            <p>Si no encuantras el destino a donde quieres enviar, puedes crearlo desde este enlace.</p>
        </div>
        <div class="row">
            <a type="button" class="btn btn-primary btn-sm" href="{% url 'crear_destino' %}">Nuevo destino</a>
        </div>
    </div>

    <div class="col-xl-9 col-md-9 col-sm-12 col-xxl-9">
        <br>
        <form class="px-4 py-3" action="{% url 'envio_otro_destino' %}" method="post">

            {% csrf_token %}
            
            <div class="form-control">
                
                <label for="id_origen">Desde</label>   
                <div>
                    <select name="origen" class="form-control" required id="id_origen">
                    {% if nodos_perfil %}
                        
                        {% for nodo in nodos_perfil %}
            
                            <option value='{{ nodo.id }}'>{{ nodo.nombre }}</option>
                    
                        {% endfor %}
                    
                    {% endif %}
                    </select>
                </div>
            
                <label for="id_otro_destino">Para</label>   
                <div>
                    <select name="otro_destino" class="form-control" required id="id_otro_destino">
                        {% if nodos %}
                            
                            {% for nodo in nodos %} 
                
                                <option value='{{ nodo.id }}'>{{ nodo }}</option>
                        
                            {% endfor %}
                        
                            {% endif %}
                    </select>
                </div>
            
                <label for="id_descripcion">Descripción</label>
                <div>
                
                    {{form.descripcion }}
                </div>               
                <input type="submit" value="Crear envío" class="btn btn-sm btn-primary" id="btn_ok" style="margin: 5px;">
            </div>
        </form>   
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/ScrollTrigger.min.js"></script>

<script>
    gsap.to( 
        ".maps1",{ 
            scrollTrigger: {
                trigger: ".maps1",
                toggleActions: "restart none none none",
            },
            x: -5,
            y: 5, 
            fill: '#712cf9',//violeta
            rotation: 360, 
            duration: 4, 
            scale: 2
        });

    gsap.to( 
        ".maps2",{
            scrollTrigger: {
                trigger: ".maps2",
                toggleActions: "restart none none none",
            }, 
            x: 0,
            y: 20, 
            fill: '#0dcaf0',//cian
            rotation: 360, 
            duration: 1, 
            scale: 2 
        });

    gsap.to( 
        ".maps3",{
            scrollTrigger: {
                trigger: ".maps3",
                toggleActions: "restart none none none",
            }, 
            x: 5,
            y: 5, 
            fill: '#d63384',//code
            rotation: 360, 
            duration: 2, 
            scale: 2 
        });
</script>
{% endblock %}