{% extends "layout.html" %}

{% load static %}

{% block content %}

    {% if user.is_authenticated %}

        <div class="container"> 
            {% include "hojaderuta/mis_envios.html" %} 
            <br>
            {% include "hojaderuta/para_recibir.html" %}
            <br>
            {% include "hojaderuta/otros_destinos.html" %}
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>

		<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/ScrollTrigger.min.js"></script>
    
        <script src="{% static 'js/gsap.js' %}"></script>
    {% else %}
        {% include 'titulo.html' %}
        {% include "login-register.html" %}
    {% endif %}

{% endblock %}