
{% load static %}

{% load mi_templatetag %}

<div class="row">
    <div class="col-xl-2 col-md-2 col-sm-12 col-xxl-2 text-center" style="margin-top: 15px;margin-bottom: 35px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" class="bi bi-box-seam box1" viewBox="0 0 16 16">
            <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2zm3.564 1.426L5.596 5 8 5.961 14.154 3.5zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" class="bi bi-box-seam box2" viewBox="0 0 16 16">
            <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2zm3.564 1.426L5.596 5 8 5.961 14.154 3.5zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" class="bi bi-box-seam box3" viewBox="0 0 16 16">
            <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2zm3.564 1.426L5.596 5 8 5.961 14.154 3.5zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z"/>
        </svg>             
    </div>
    <div class="col-xxl-2 col-xl-2 col-md-2 col-sm-6 text-center">
        <h4>
            <b>Mis envios</b>
        </h4>
    </div>
    <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-6">
    {% if mis_envios != 0 %}
        <p>Tienes {{ mis_envios }} envíos preparados / en camino. Para ver el detalle selecciona su Id. O crea nuevos envios desde el siguiente enlace.</p>
    {% else %}
        <p>No tienes envíos preparados / en camino. Para crear un envio selecciona el siguiente enlace.</p>
    {% endif %}
    </div>
    <div class="col-xxl-2 col-xl-2 col-md-2 col-sm-2">
        <a type="button" class="btn btn-primary btn-sm" href="{% url 'nuevo_envio' %}">Nuevo Envío</a>
    </div>
</div>
{% if mis_envios != 0%}
<div class="row">
    <div class="col card-login">           
        <table class="table table-dark table-striped-columns table-sm table-borderless">
            <thead>
                <tr>
                    <th style="color: #d63384;font-size: small;" scope="col">Origen</th>
                    <th style="color: #d63384;font-size: small;" scope="col">Destino</th>
                    <th style="color: #d63384;font-size: small;" scope="col">Fecha</th>
                    <th style="color: #d63384;font-size: small;" scope="col">Hora</th>
                    <th style="color: #d63384;font-size: small;" scope="col">Estado</th>
                    <th style="color: #d63384;font-size: small;" scope="col">ID</th>
                </tr>
            </thead>
            <tbody>
            {% for envios in preparados %}
                
                {% for envio in envios %}
                    <tr>                     
                        <td>{{ envio.origen }}</td>
                        <td>{{ envio|ver_destino }}</td>
                        <td>{{ envio.fecha }}</td>
                        <td>{{ envio.hora }}</td>
                        <td>{{ envio.estado }}</td>
                        <th scope="row">
                            <a class="link-tabla" href="{% url 'ver_envio' envio.id %}" style="font-size: small;">{{ envio.id }}</a>
                        </th>
                    </tr> 
    
                {% endfor %}
            
            {% endfor %}

            {% for envios in en_camino %}
                
                {% for envio in envios %}
                    <tr>                     
                        <td>{{ envio.origen }}</td>
                        <td>{{ envio|ver_destino }}</td>
                        <td>{{ envio.fecha }}</td>
                        <td>{{ envio.hora }}</td>
                        <td>{{ envio.estado }}</td>
                        <th scope="row">
                            <a  href="{% url 'ver_envio' envio.id %}" style="font-size: small;">{{ envio.id }}</a>
                        </th>
                    </tr> 
    
                {% endfor %}
            
            {% endfor %}
            </tbody>
        </table>      
    </div>   
</div>
{% endif %}
