{% load static %}

{% load mi_templatetag %}

<div class="row">
    <div class="col-xl-2 col-md-2 col-sm-6 col-xxl-2 text-center" style="margin-top: 5px;margin-bottom: 40px;"> 
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" class="bi bi-geo-alt maps1" viewBox="0 0 16 16">
            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" class="bi bi-geo-alt maps2" viewBox="0 0 16 16">
            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" class="bi bi-geo-alt maps3" viewBox="0 0 16 16">
            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
        </svg>
    </div>
    <div class="col-xxl-2 col-xl-2 col-md-2 col-sm-6 text-center">
        <h4>
            <b>Otros Destinos</b>
        </h4>
    </div>
    <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-6">
        {% if otros_destinos != 0 %}
            <p class="card-text">
                Tienes {{ otros_destinos }} envíos preparados / en camino hacia otro destino. Para ver el
                detalle selecciona su Id. O crea nuevos envios para otros destinos desde el siguiente enlace. 
            </p>
        {% else %}
            <p class="card-text">
                No tienes envíos preparados / en camino hacia otro destino. Para crear un envio selecciona 
                el siguiente enlace.     
            </p>
        {% endif %}
    </div>
    <div class="col-xxl-2 col-xl-2 col-md-2 col-sm-2">
        <a type="button" class="btn btn-primary btn-sm" href="{% url 'envio_otro_destino' %}">Nuevo Envío</a>
    </div>
</div>

{% if otros_destinos != 0%}
<div class="row">
    <div class="col card-login">           
        <table class="table table-dark table-striped-columns table-sm table-borderless">
            <thead>
                <tr>
                    <th style="color: #d63384;font-size: small;" scope="col">Origen</th>
                    <th style="color: #d63384;font-size: small;" scope="col">Destino</th>
                    <th style="color: #d63384;font-size: small;" scope="col">Fecha</th>
                    <th style="color: #d63384;font-size: small;" scope="col">Hora</th>
                    <th style="color: #d63384;font-size: small;" scope="col">Estado</th>
                    <th style="color: #d63384;font-size: small;" scope="col">ID</th>
                </tr>
            </thead>
            <tbody>
            {% for envios in otro_destino %}
                
                {% for envio in envios %}
                    <tr>                     
                        <td>{{ envio.origen }}</td>
                        <td>{{ envio|ver_destino }}</td>
                        <td>{{ envio.fecha }}</td>
                        <td>{{ envio.hora }}</td>
                        <td>{{ envio.estado }}</td>
                        <th scope="row">
                            <a class="link-tabla" href="{% url 'ver_envio' envio.id %}" style="font-size: small;">{{ envio.id }}</a>
                        </th>
                    </tr> 
    
                {% endfor %}
            
            {% endfor %}

            </tbody>
        </table>     
    </div>   
</div>
{% endif %}